{% extends 'base.html'%}

{% block head_title %}{{ title }}{% endblock head_title %}

{% block content %}
    <div style="margin-top: 25px">
        <div class="col-sm-10 col-sm-offset-2">
            <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create post</button>
            </form>
        </div>

    </div>

{% endblock content %}